body {
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

/* body wrapper */
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 600px 1fr;
    /* height: 100vh; */
    grid-gap: 10px;
    margin-top: 80px;
    
}

/* Navigation */
.site-nav li a {
    text-decoration: none;
    color: grey;
}

.site-nav li a:visited{
    text-decoration: none;
    color: grey; 
}

.site-nav li a:hover
 {
    color: black;
    -webkit-transition: width, .3s, ease-in-out;
    transition: width, .3s, ease-in-out;
    border-top: 3px solid black;
    padding-top: 5px;
    
}



.site-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}


/* site-header */

.site-nav {
    grid-column: 1 / 4;
    padding-left: 0;
    
}

.main-header {
    height: 80px;
    grid-column: 1 / -1;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

.logo {
    grid-column: 4 / 10;
    font-size: 28px;
}

.logo:hover {
    transform: scale(1.01);
}

.logo a {
    text-decoration: none;
    color: black;
}

.jumbotron {
    grid-column: 1/-1;
    display: block;
    justify-content: center;
    align-items: center;
}



.jumbotron-img {
    background-image: url("assets/IMG_0922.jpg");
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron-img2 {
    background-image: url("assets/remy-beach.jpg");
    width: 100%;
    height: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main section where articles will be listed 2 per row */
.main {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 400px 40px 400px;
    grid-auto-rows: 500px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 50px;
}

.footer {
    grid-column: 1 / -1;
    height: 100px;
}

/* title of article section */
.card-section-title {
    margin: 0;
    grid-column: span 6;
}

/* row of articles*/
.cards {

    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* padding: 10px; */
    grid-gap: 30px;
}

.cards2 {
    
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 30px;
    }

.article {
    display: flex;
    flex-direction: column;
    box-shadow:2px 5px 2px 2px #ccc;
    text-decoration: none;
    color: black;
}

.article:hover {
    transform: scale(1.05);
}


.article1 {
    grid-column: 1 / 7;
}


.article2 {
    grid-column: 7 / 13
}


.article-title {
    height: 25%;
}

.image {
    height: 75%;
}

.article-image1 {
    background-image: url("assets/remy.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: -60px;
}

.article-image2 {
    background-image: url("assets/road2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    
}

.article-image3 {
    background-image: url("assets/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: -200px; */
    
}

.article-image4 {
    background-image: url("assets/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

.article-title {
    box-sizing: border-box;
}

.title {
    margin: 20px 0 0 20px;
    font-size: 1.25em;
    font-weight: bold;
}

.hover {
    opacity: 0.5;
    transition-duration: 0.4s;
}

.card-section-title {
    font-size: 18px;
}


/* gallery */

/* Grid for image gallery */

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1370px;
    margin: 60px 20px;
    padding-top: 20px;
    align-items: stretch;
}

.img {
    max-width: 100%;
    /* height: auto; */
    
}

.img-grid img {
    max-width: 100%;
    /* max-height: 100%; */
    
}

.img-grid a:hover {
    transform: scale(1.02);
}

.img {
    backface-visibility: hidden;
}

.img.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }

  .animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

/* Article Pages */

.article-body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 1fr;
    grid-column: 5 / 9;
    margin-bottom: 50px;
    grid-gap: 20px;
}

.article-body h2 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.article-body section {
    grid-column: 1 / -1 ;
}


/* Memory Game */
.card {
    width: 200px;
    height: 200px;
}

#memory-game {
    display: grid;
    margin-top: 100px;
}

.fa-bars {
    display: none;
}

.fa-bars:hover {
    cursor: pointer;
}

.mobile-nav {
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.mobile-nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
}




@media (max-width: 900px){
   .main{
       grid-template-columns: 1fr;
       grid-template-rows: 40px 1fr 40px 1fr;
    }

    .cards,
    .cards2 {
        grid-template-rows: 400px 400px;
    }

    .article {
        grid-column: 1 / -1;
    }

    .site-nav {
        display: none;   
    }

    .fa-bars {
        display: block;
        padding-left: 20px;
    }

    .logo {
        grid-column: 2 / 3;
        font-size: 24px;
    }

    .main-header {
        grid-template-columns: 40px 1fr 40px;
    }

    .mobile-link {
        text-decoration: none;
        list-style: none;
        color: black;
        background: #DCDCDC;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media (max-width: 600px){
    .img-grid {
        grid-template-columns: 280px;
        justify-content: center;
    }
}



}