/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */

body {
    font-family: Source Sans Pro;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1800px;
}

h1 {
    color: yellow;
    font-family: "Merriweather", serif;
}

.header-1 {
    background: black;
    border-bottom: 4px solid yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: "Oswald";
    font-size: 18px;
    margin-left: 20px;
    font-weight: 400;
}

.header-2 {
    background: #C6C6C6;
    text-align: center;
}

.tagline {
    font-family: "Merriweather";
    font-style: italic;
}

.taste {
    text-decoration: line-through;
    color: darkgray;
}

.are {
    border-bottom: 2px solid yellow;
    padding-top: 20px;
    
    
}

main {
    background-image: url("../img/coworking.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    align-items: center;
}

.meet-your-match {
    font-family: "Oswald";
    font-size: 35px;
    margin: 0;
}

aside {
    width: 350px;
    background:rgba(255,255,255,0.75);
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

aside p {
    line-height: 1.5em;
    margin: 5px 0;
    
    
}

.yellow-link, .yellow-link:hover, .yellow-link:visited {
    background: yellow;
    color: black;
    font-weight: 700;
    width: 100%;
    /* height: 50px; */
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    font-family: "Oswald";
    letter-spacing: 1;
    margin-top: 20px;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
}

section {
    display: flex;
    margin: 10px 0;
}

.sections {
    width: 33%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-border {
    border-left: 1px solid grey;
}

h3 {
    font-size: 25px;
    font-family: "Merriweather", serif;
    margin: 0;
}

.grey-link, .grey-link:hover, .grey-link:visited {
    background: #c6c6c6;
    color: black;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Oswald";
    font-weight: 700;
    letter-spacing: 1;
    box-shadow: 2px 2px grey;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background: black;
    color: white;
    display: flex;
    margin: 20px 0 100px 0;
    padding: 20px;

}
