



.container1 {
    height: 500px;
    /* background: green; */
    justify-content: space-between;
    display: flex;
    
}

.section1 {
    height: 500px;
    background: green;
    width: 49%;
    
    

}

.container2 {
    height: 200px;
    /* background: blue; */
    justify-content: space-between;
    display: flex;
    margin: 30px 0;
}

.section2 {
    height: 200px;
    background: blue;
    width: 32%;
}

header {
    background: red;
    height: 200px;
    margin-bottom: 30px;
}

footer {
    background: yellow;
    height: 200px;
}

