.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}

#burger {
	float: right;
	display: none;
}

#mobile-nav {
	display: none;
	background-color: grey;
	
}

#mobile-nav a {
	display: block;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	
}

@media (max-width: 875px) {
	#burger {
		display: block;
	}

	#large-nav {
		display: none;
	}

}



