.wrapper {
    background: lightgrey;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

.nav {
    background: black;
    color: white;
    padding: 20px;
}

.lorem{
    background: tomato;
    margin: 10px;
    padding: 20px;
}

.lorem-1 {
    color: blue;
}

.lorem-2 {
    color: green;    
}

.lorem-3 {
    color: yellow;
}