html,
body {
    height: 100%;
}


body {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.container {
    
    max-width: 400px;
    margin: 0 auto;
    /* grid-row: 1 / auto; */
}

.container1 {
    /* height: auto; */
    background: whitesmoke;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-column: 3 / 7;
}

.container2 {
    /* height: auto; */
    background: whitesmoke;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-column: 7 / 11;

}

.img-container {
    
    grid-row: span 1; 
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.fit {
    width: 100%;
    max-height: 100%;
    vertical-align: middle;
}



.text {
    height: auto;
}

.title {
    width: 100%;
    height: auto;
    display: inline-block;
    text-decoration: none;
    padding: 2rem;
    box-sizing: border-box;
}

h3 {
    margin: 0;
    display: inline-block;
}