html{
    border: solid black;
}
body{
    background: #c8deec;
    margin: 0;
    font-family: Helvetica Neue;
}

h4{
    color: #887;
    font-style: italic;
}

h1, h4{
    font-family: Courier New;
}

h3{
    letter-spacing: -1px;
    font-weight: normal;
    color: #5d8da8}

img {
    width: 300px;
    height: 300px;
    border: solid black;
    border-left: none;
}

a{
    font-weight: bold;
    text-decoration: none;
}